.page_div {
	font-family: "microsoft yahei";
	color: #666666;
	margin-right: 10px;
	padding-left: 20px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0.5rem;
	right: 0.25rem;
}
/*
 * 页数按钮样式
 */

.page_div a {
	min-width: 30px;
	height: 28px;
	text-align: center;
	margin: 0 4px;
	cursor: pointer;
	line-height: 28px;
	color: #666666;
	font-size: 13px;
	display: inline-block;
}

#firstPage,
#lastPage {
	width: 50px;
	color: #333333;
	border: 1px solid #797979!important;
	display: none;
}

#prePage,
#nextPage {
	width: 70px;
	color: #333333;
	border: 1px solid #797979!important;
}
.page_div a{
	border: 1px solid #DDDDDD;
	text-decoration: none;
	vertical-align: top;
} 
.page_div .current {
	color: #169bd5;
	text-decoration: underline;
	border:none;
	background: #4E99FF;
	color: #FFFFFF;
	text-decoration: none;
}

.totalPages {
	margin: 0 10px;
	display: none;
}
.totalSize{
	float: left;
	vertical-align: bottom;
	line-height: 28px;
	margin-right: 0.2rem!important;
	font-size: 13px;
}
.totalPages span,
.totalSize span {
	font-size: 13px;
}
